{% extends "main.html" %}

{% block content %}
<div class="title center">
    <h2 class="grey-text greek">Resultado de Partida</h2>
</div>
<div class="row">
    <form class="col s12" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <select name="players" multiple required>
                    <option value="" disabled selected>Participantes</option>
                    {% for deck in decks%}
                        <option value="{{deck.key.id()}}">{{deck.name}} ({{deck.rating}})</option>
                    {% endfor %}
                </select>
                <label>Barallas Participantes (3 a 8)</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <select name="winner" required>
                    <option value="" disabled selected>Gañadora</option>
                    {% for deck in decks%}
                        <option value="{{deck.key.id()}}">{{deck.name}} ({{deck.rating}})</option>
                    {% endfor %}
                </select>
                <label>Baralla Gañadora</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button class="btn-flat amber darken-2 white-text" type="Submit" name="Submit" >GARDAR</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>

<script>
     $(document).ready(function () {
        {% if fail %}
            M.toast({html: 'Vaia. Parece que xogaron menos de 3 ou máis de 8, ou que o gañador non xogou.'})
        {% endif %}
    });

</script>

{% endblock%}