<!doctype html>
<html lang="gl">
    <head>
        <link rel="icon" type="image/png" href="../favicon.ico">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <!--Import materialize.css-->
         <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/login.css">

         <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>EDH Rank</title>
    </head>

    <body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">EDH Rank</a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text ">Sistema ELO</h1>
        <div class="row center">
          <h5 class="header col s12 light">Mide a eficiencia dos teus mazos de forma precisa</h5>
        </div>
        <div class="row center">
          <a href="{{user_login}}" id="login" class="btn-large waves-effect waves-light amber darken-2">Entrar con Google</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Axiliza o Balance</h5>

            <p class="light">Non perdas máis tempo con follas de cálculo e scripts desperdigados. Todo nun mesmo lugar. E estéticamente falando, non quedamos atrás.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Partidas máis Xustas</h5>

            <p class="light">Coñecendo como se comparan os decks do teu grupo, poderás deseñar unha experiencia máis pracenteira para todos. Sí, tamén para os que xogan azul.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Sinxelo de Utilizar</h5>

            <p class="light">Intuitivo, coma xirar terras e lanzar raios. Feito a proba de trasgos.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Ningún outro xogador volverá deixar a mesa, a non ser que teña fame.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Outros Recursos</h5>
          <p class="grey-text text-lighten-4">Os seguintes enlaces poden ser do teu interese, planeswalker.</p>


        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Enlaces</h5>
          <ul>
            <li><a class="white-text" href="https://edhrec.com/">EDHRec</a></li>
            <li><a class="white-text" href="http://tappedout.net/">TappedOut</a></li>
            <li><a class="white-text" href="https://www.reddit.com/r/EDH/">r/EDH</a></li>
            <li><a class="white-text" href="https://www.reddit.com/r/CompetitiveEDH/">r/ConpetitiveEDH</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Feito por <a class="brown-text text-lighten-3" href="https://github.com/SirUseless">SirUseless</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>


